body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

button {
  padding: 8px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}